* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media(max-width: 575px){
    .head {
        width: 100%;
        height: 20%;
        margin-top: 5%;
        text-align: center;
        display: flex;
        font-size: 2rem;
        margin-bottom: 10%;
        position: relative;
    }
    .section-name-back {
    position: absolute;
    font-size: 4.5rem;
    color: #1b262c2e;
    }
    .section-name {
        font-size: 1.3rem;
        position: relative;
        color: #323232;
    }
}
@media(min-width: 576px) {
    .position {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .section-name-back {
        position: absolute;
        font-size: 6rem;
        color: #1b262c2e;
    }
}
@media(min-width: 768px) {
    .position {
        width: 85%;
        position: relative;
        left: 15%;
        display: flex;
        flex-wrap: wrap;
    }
    .section-name-back {
        position: absolute;
        font-size: 6rem;
        color: #1b262c2e;
    }
}
@media(min-width: 992px) {
    .section-name-back {
        position: absolute;
        font-size: 8.5rem;
        color: #1b262c2e;
    }
}
.head {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    font-size: 2rem;
    margin-bottom: 10%;
    position: relative;
}
.section-name {
    position: relative;
    color: #323232;
}
.section-name > hr {
    height: 5px;
    width: 25%;
    margin: auto;
    border-radius: 2px;
    border-color: #29a19c;
    background-color: #29a19c;
}
.bold {
    font-weight: bold;
    margin-bottom: 15px;
}
/*=====================================NAVIGATION BAR=====================================*/
.navigation {
    width: 100%;
    min-height: 10vh;
    padding: 2%;
    position: fixed;
    background-color: #222831;
    text-align: center;
    z-index: 100;
}
.picture {
    display: none;
    background-color: #393e46;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}
.picture > img {
    width: 100%;
    height: 100%;
}
.card > span {
    display: inline;
    font-size: 1rem;
    color: #f7f7f7;
}
.colum > div {
    margin-top: 5px;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #f7f7f7
}
.menu-parts:hover > a{
    color: #29a19c;
}
@media(min-width: 576px){
    .navigation {
        width: 100%;
        height: 20vh;
        padding: 2%;
        position: fixed;
        background-color: #222831;
        text-align: center;
        z-index: 100;
    }
    .card > span {
        display: inline;
        font-size: 1.5rem;
    }
    .colum > div {
    margin-top: 15px;
    display: inline-block;
}
}
@media(min-width: 768px) {
    .navigation {
        width: 15%;
        height: 100vh;
        padding: 2%;
        position: fixed;
        background-color: #222831;
        text-align: center;
    }
    .picture {
        display: block;
        background-color: #393e46;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .picture > img {
        width: 100%;
        height: 100%;
    }
    .card > span {
        font-size: 1.5rem;
        color: #f7f7f7;
    }
    .colum {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60%;
        margin-bottom: 20px;
    }
    .colum > div {
        height: 15%;
        padding: 10%;
        font-size: 1.2rem;
    }
}
/*=====================================GREETINGS=====================================*/
.greetings {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../pictures/background/back-code.jpg");
    background-size: cover
}
.wallpaper {
    position: relative;
    top: 75px;
    color: white;
    font-size: 2.4rem;
    text-align: center;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #80808059;
}
@media(min-width: 576px){
    .greetings {
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-image: url("../pictures/background/back-code.jpg");
        background-size: cover
    }
    .wallpaper {
        position: relative;
        top: auto;
        color: white;
        font-size: 2.4rem;
        text-align: center;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #80808059;
    }
}
/*=====================================ABOUT ME=====================================*/
.resumen {
    width: 80%;
    margin: auto;
    text-align: justify;
    word-spacing: 1px;
}
.resumen > h3 > span {
    color: #29a19c;
}
.resumen > h3 {
    word-spacing: 0.1em;
}
.data {
    font-weight: lighter;
}
.personal-data {
    width: 80%;
    margin-top: 10px;
    padding: 2%;
}
.email {
    color: steelblue;
}
@media(min-width: 576px) {
    .about-me {
        min-height: 100vh;
        padding: 5%;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .resumen {
        width: 65%;
        padding: 0 2%;
    }
    .resumen > h3 {
        font-size: 2rem;
        margin-bottom: 3%;
    }
    .personal-data {
        width: 35% ;
        padding: 0 1%;
    }
    .layout {
        margin-bottom: 20px;
    }
    .data {
        font-weight: lighter;
    }
}
/*
@media((min-width: 577px) AND (max-width: 866px)){
    .jumpline::before{
        content: '\A'; white-space: pre;
    }
}
/*=====================================SKILLS=====================================*/
@media(max-width: 575px) {
    .skills {
        min-height: 100vh;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .skills > .row {
        height: 100%;
    }
    .skill {
        display: inline-block;
        padding: 15px;
        margin: 15px 35px;
    }
    .skill > .row {
        display: inline-block;
    }
}
@media(min-width: 576px) {
    .skills {
        min-height: 100vh;
        padding: 5%;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .skills > .row {
        height: 65%;
    }
    .skill {
        width: 33.333%;
        padding: 15px;
        margin: 15px 35px;
    }
    .skill > .row {
        margin-bottom: 20px;
        justify-content: space-between;
    }
}
.full {
    position: relative;
    height: 10px;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    border-radius: 5px;
    }
    .average {
    position: relative;
    top: -10px;
    height: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #29a19c;
    border-color: #29a19c;
    }
#html {
    width: 66%;
}
#css {
    width: 75%;
}
#js {
    width: 80%;
}
#bootstrap {
    width: 70%;
}
#react {
    width: 10%;
}
/*=====================================PORTFOLIO=====================================*/
.Work {
    min-height: 100vh;
    padding: 5%;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.work-card {
    margin: 30px 20px;
    width: 25%;
    min-height: 30vh;
    border: solid 1px gray;
    border-radius: 2px;
}
.work-card-head > img {
    width: 100%;
    height: 100%;
}
.work-card-body {
    padding: 10px;
    background-color: #323232;
    color: #FFFFFF;
}
.work-card-body > h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.work-card-body > a {
    border-radius: 5px;
    padding: 3px;
    background-color:#153e90;
}
@media(max-width: 767px) {
    .work-card-body {
        visibility: hidden;
    }
    .work-card-body > p {
        display: none;
    }
    .work-card-body > a {
        font-size: 1.3rem;
        visibility: visible;
        position: relative;
        top: -55px;
    }
    .work-card {
        border: none;
    }
}
